<h1>Patient Health Overview</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
<% @data.each do |datum| %>
  <tr>
    <td><%= datum.description %></td>
    <td><%= link_to 'Show', datum %></td>
    <td><%= link_to 'Edit', edit_datum_path(datum) %></td>
    <td><%= link_to 'Destroy', datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</tbody>
<% end %>
</table>

<br />

<%= link_to 'Enter New Information', new_datum_path %>
